.movie-list-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default for small screens */
  gap: 20px;
  padding: 20px;
}

@media (min-width: 600px) {
  .movie-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .movie-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .movie-list-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
  
  .movie-list-card {
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  