.sort-dropdown,
.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.sort-dropdown select,
.search-bar input {
  padding: 10px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid #888;
  background-color: #1a1a1a;
  color: var(--text-color);
  width: 200px;
}

.search-bar input:focus {
  outline: 2px solid var(--primary-color);
}

.search-bar button,
.sort-dropdown button {
  background-color: var(--primary-color);
  color: white;
}

.search-bar button:hover,
.sort-dropdown button:hover {
  background-color: var(--primary-hover);
}

.search-container,
.now-playing-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

button.clear-btn {
  background-color: #dc3545;
  margin-left: 1rem;
}

button.clear-btn:hover {
  background-color: #b52b3b;
}
